/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,600;6..12,700;6..12,800&family=Raleway:wght@400;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "next-art";
  src: url("../fonts/nextart/NEXT ART_Bold.otf");
}
body {
  font-family: "Nunito Sans", sans-serif;
}

a {
  color: #FDFDFD;
}

.container {
  max-width: 1210px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-background {
  position: absolute;
  top: 0;
}
.top-background img {
  min-height: 985px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: #1A3E3E;
  border: 1px solid #1A3E3E;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.btn:hover {
  background: #FDFDFD;
  color: #18121E;
  border: 1px solid #1A3E3E;
}

.subtitle {
  color: #F2BE22;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 8px;
}

.title-2 {
  color: #18121E;
  font-size: 32px;
  font-weight: 800;
  line-height: 120%;
  margin-bottom: 40px;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 16px;
  z-index: 9999;
}

.header__logo {
  margin-right: 200px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.nav__list a {
  font-size: 18px;
  font-weight: 600;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.nav__list a:hover {
  color: #F2BE22;
}

.header__consultation {
  padding: 12px 24px;
  height: 44px;
  margin-left: auto;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  padding: 40px 43px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.search-program {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.dropdown, .date {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.dropdown__span {
  color: #FDFDFD;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  padding-left: 8px;
}

.search-program__title {
  font-family: "next-art";
  padding-top: 551px;
  font-size: 50px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  color: #FDFDFD;
  text-transform: uppercase;
  padding-bottom: 41px;
}

.dropdown__btn {
  position: relative;
  padding: 14px 16px;
  color: #FDFDFD;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  border: 1px solid #FDFDFD;
  width: 270px;
  height: 52px;
  border-radius: 8px;
  text-align: start;
}
.dropdown__btn::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 16px;
  right: 16px;
  padding-left: 8px;
  background-image: url("../img/form-search/arrow.svg");
  pointer-events: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.dropdown__btn--visible::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.date__btn {
  position: relative;
  padding: 14px 16px;
  color: #FDFDFD;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  border: 1px solid #FDFDFD;
  width: 270px;
  height: 52px;
  border-radius: 8px;
  text-align: start;
}
.date__btn::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 16px;
  right: 16px;
  padding-left: 8px;
  background-image: url("../img/form-search/calendar.svg");
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.date__input {
  width: 190px;
}

.dropdown__list {
  position: absolute;
  left: 0;
  top: 52px;
  background: #FDFDFD;
  color: #18121E;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  width: 270px;
  border-radius: 8px;
  border: 1px solid #FDFDFD;
  overflow: hidden;
  display: none;
}
.dropdown__list--visible {
  display: block;
}

.dropdown__list-item {
  padding: 14px 16px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.dropdown__list-item.desibled {
  background: #1A3E3E;
  color: #FDFDFD;
  border-radius: 8px 8px 0 0;
  pointer-events: none;
}
.dropdown__list-item:hover {
  background: #1A3E3E;
  color: #FDFDFD;
}

.dropdown__input-hidden {
  display: none;
}

.search-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FDFDFD;
  color: #1A3E3E;
  padding: 16px;
  height: 52px;
  width: 213px;
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.192px;
  border-radius: 4px;
  border: 1px solid #FDFDFD;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.search-form__btn:hover {
  background: #1A3E3E;
  color: #FDFDFD;
}

.about {
  margin-top: 1081px;
  margin-bottom: 150px;
}

.about__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.about__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__subtitle {
  margin: 64px 0 8px;
}

.about__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  margin: 40px 0 40px;
}

.about__video {
  position: relative;
  margin: -274px 130px;
  width: 350px;
  height: 400px;
}
.about__video img {
  border-radius: 24px;
}

.about__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 52px;
}

.about__video-link {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background: rgba(253, 253, 253, 0.6);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.about__video-link:hover {
  -webkit-filter: saturate(1.5);
          filter: saturate(1.5);
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}

.offer {
  background: #F3F5F4;
}

.offer__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 90px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 90px;
  padding: 80px 0 100px;
}

.offer__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 40px;
}

.offer__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.advantages-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages-item__img {
  padding: 7px;
  border-radius: 4px;
  width: 50px;
  height: 50px;
  margin-right: 16px;
}
.advantages-item__img.list-1 {
  background: #E5EEEB;
}
.advantages-item__img.list-2 {
  background: #E3E6EE;
}
.advantages-item__img.list-3 {
  background: #F3F1E1;
}

.adentages-item__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px; /* 111.111% */
  letter-spacing: 0.216px;
  margin-bottom: 4px;
}

.advantages-item__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.offer_link {
  width: 236px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.192px;
  margin-top: 40px;
}

.offer__img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: 510px;
  margin-top: 40px;
}