.about {
    margin-top: 1081px;
    margin-bottom: 150px;
}

.about__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about__media {
    display: flex;
    flex-direction: column;
}

.about__subtitle {
    margin: 64px 0 8px;
}

.about__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    margin: 40px 0 40px;
}

.about__video {
    position: relative;
    margin: -274px 130px;
    width: 350px;
    height: 400px;

    img {
        border-radius: 24px;
    }
}

.about__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 52px;
}

.about__video-link {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: rgba(253, 253, 253, 0.60);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in;

    &:hover {
        filter: saturate(1.5);
        transform: translate(-50%, -50%) scale(1.2);
    }
}
