.about__wrapper {
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    @media(max-width: $tablet) {
        flex-direction: column-reverse;
        padding: 75px 0;
        gap: 40px;
    }

    @media(max-width: $mobile) {
        padding: 50px 0;
    }
}

.about__media {
    display: flex;
    flex-direction: column;
    max-width: 480px;
}

.about__content {
    max-width: 580px;
}


.about__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    margin: 40px 0 40px;

    @media(max-width: $mobile) {
        font-size: 16px;
        margin: 24px 0 24px 0;
    }
}

.about__img {
    @media(max-width: $mobile) {
        display: none;
    }
}

.about__video {
    position: relative;
    margin: -274px 0 0 130px;

    @media(max-width: $mobile) {
       margin: 0;
    }
   
    img {
        border-radius: 24px;
    }
}

.about__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 52px;

    @media(max-width: $mobile) {
        margin: 0 auto;
    }
}

.about__video-link {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: rgba(253, 253, 253, 0.60);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in;

    &:hover {
        filter: saturate(1.5);
        transform: translate(-50%, -50%) scale(1.2);
    }
}
