.blog {
    background: $grey;
    text-align: center;
    padding-bottom: 100px;

    @media(max-width: $mobile) {
        padding-bottom: 50px;
    }
}

.blog__subtitle {
    padding-top: 80px;

    @media(max-width: $mobile) {
        padding-top: 50px;
    }
}

.blog__title {
    padding-bottom: 40px;
    margin-bottom: 0;

    @media(max-width: $mobile) {
       padding-bottom: 32px;
    }
}

.blog__media {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 20px;
    padding-bottom: 50px;

    @media(max-width: $tablet) {
        grid-template-columns: repeat(1, 1fr);

    }

    @media(max-width: $mobile) {
        display: flex;
        overflow-x: scroll;
    }
}

.blog__media-item {
    display: flex;
    padding: 16px;
    gap: 24px;
    text-align: start;
    background: $white;
    border-radius: 10px;
    transition: box-shadow .2s ease-in;

    img {
        @media(max-width: $mobile) {
            max-height: 280px;
        }
    }

    &:hover {
        box-shadow: 0px 0px 15px 0px rgba(24, 18, 30, 0.12);
    }

    @media(max-width: $mobile) {
        flex-direction: column;
        gap: 0;
        min-width: 280px;
    }
}

.media-item__content {
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;

    @media(max-width: $mobile) {
        gap: 16px;
        flex: 1;
    }
}

.media-item__title {
    color: $dark;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px; 

    &:hover {
        text-decoration: underline;
    }

    @media(max-width: $mobile) {
        font-size: 20px;
    }
}

.media-item__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    height: 116px;
    overflow: hidden;
}

.media-item__info {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.media-item__date {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: $yellow;
}

.media-item__link {
    color: $dark;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px; 

    &:hover {
        text-decoration: underline;
    }
}

.blog__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 36px;
    width: 220px;
    height: 52px;
    margin: 0 auto;
}