.modal {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6 ease-in;

    &--open {
        opacity: 1;
        visibility: visible;
    }
}


.modal__body {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: $white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 20px;
}

.modal__close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    color: $dark;
    font-size: 24px;
    cursor: pointer;
    transition: opacity 0.2s ease-in;

    &:hover {
        opacity: 0.5;
    }
}

.modal__other-img {
    display: flex;
    // width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow-x: scroll;

    img {
        width: 10%;
        cursor: pointer;
        transition: all 0.2s ease-in;
        &:hover {
            transform: scale(1.1);
        }
    }
}