.news-subscribe__wrapper {
    display: flex;
    gap: 64px;
    border-radius: 6px;
    box-shadow: 0px 0px 15px 0px rgba(24, 18, 30, 0.12);
    padding: 40px 100px;
    position: relative;
    margin-bottom: -96px;
    background: $white;

    @media(max-width: 1100px) {
        padding: 40px 40px;
    }

    @media(max-width: $tablet) {
        flex-direction: column;
        gap: 30px;
    }

    @media(max-width: $mobile) {
        padding: 24px;
        margin-bottom: 50px;
    }
    
    
}

.news-subscribe__subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px; 

    @media(max-width: $tablet) {
        text-align: center;
    }
}

.news-subscribe__title {
    font-size: 26px;
    margin-bottom: 0;
    font-weight: 800;
    line-height: 120%;

    @media(max-width: $tablet) {
        text-align: center;
    }

    @media(max-width: $mobile) {
        font-size: 18px;
    }
    
}

.news-subscribe__text {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.news-subscribe__form {
    display: flex;
    gap: 16px;
    margin-top: 8px;
    margin-bottom: 8px;

    @media(max-width: $mobile) {
        flex-direction: column;
        gap: 16px;
    }
    
}

.news-subscribe__input {
    padding: 0 16px;
    width: 280px;
    min-height: 44px;
    border-radius: 4px;
    background: $grey;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;

    @media(max-width: $tablet) {
        flex: 1;
    }
    
}

.news-subscribe__btn {
    width: 240px;
    min-height: 44px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px; /* 125% */
    letter-spacing: 0.192px;

    @media(max-width: $tablet) {
        flex: 1;
    }
}

.news-subscribe__terms {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    
    a {
        color: $dark;
        text-decoration: underline;
    }
}