.search-form {
    padding: 40px 43px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(3px);
}

.search-program {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dropdown__span {
    color: $white;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    padding-left: 8px;
}

.search-program__title {
    font-family:"next-art";
    padding-top: 551px;
    font-size: 50px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 1px;
    color: $white;
    text-transform: uppercase;
    padding-bottom: 41px;
}

.dropdown__btn {
    position: relative;
    padding: 14px 16px;
    color: $white;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    border: 1px solid $white;
    width: 270px;
    height: 52px;
    border-radius: 8px;
    text-align: start;

    &::after {
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        top: 16px;
        right: 16px;
        padding-left: 8px;
        background-image: url('../img/form-search/arrow.svg');
        pointer-events: none;
        transition: all .2s ease-in;

    }

    &--visible::after {
        transform: rotate(180deg);
    }
}

.dropdown__list {
    position: absolute;
    // left: 0;
    // top: 52px;
    background: $white;
    color: $dark;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    width: 270px;
    border-radius: 8px;
    border: 1px solid $white;
    overflow: hidden;
    display: none;

    &--visible {
        display: block;
    }
    
}

.dropdown__list-item {
    padding: 14px 16px;
    transition: all .2s ease-in;
    cursor: pointer;

    &.desibled {
        background: $green;
        color: $white;
        border-radius: 8px 8px 0 0;
        pointer-events: none;
    }

    &:hover {
        background: $green;
        color: $white;
    }
}

.dropdown__input-hidden {
    display: none;
}