@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,600;6..12,700;6..12,800&family=Raleway:wght@400;700&display=swap');
@font-face{
    font-family:"next-art";
    src: url("../fonts/nextart/NEXT ART_Bold.otf");
    
 }

body {
    font-family: $mainFont;
}

a {
    color: $white;
}

.container {
    max-width: 1210px;
    padding: 0 15px;
    margin: 0 auto;
}

.top-background {
    position: absolute;
    top: 0;
   
    img {
        min-height: 985px;
    }
}

.btn {
    display: flex;
    align-items: center;
    font-family: $mainFont;
    font-size: 16px;
    font-weight: 600;
    background-color: $green;
    border: 1px solid $green;
    border-radius: 4px;
    transition: all .3s ease-in;

    &:hover {
        background: $white;
        color: $dark;
        border: 1px solid $green;
        
    }
}

.subtitle {
    color: $yellow;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
}

.title-2 {
    color: $dark;
    font-size: 32px;
    font-weight: 800;
    line-height: 120%;
}